body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
  background-color: #F0131E;
  color: white;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}
section p {
  font-size: 2.5rem;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    section {
      margin-top: 3rem;
    }

    section p {
      font-size: 1.4rem;
      margin: 2rem;
      text-align: center;
    }

  }
