.cards {
  
  margin-left: 1.6rem;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
.unavailable {
  display: flex;
  align-items: center;
  justify-content: center;
}

.unavailable p {
  margin-top: 6rem;
  font-size: 2.5rem;
}