header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.6rem;
}
a {
  text-decoration: none;
  color: white;
}

header h1 {
  font-size: 3.6rem;
}
header img {
  width: 64px;
  height: 64px;
}