.character {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.description-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description-theme img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 2px solid white;
}
.description-theme h1 {
  font-size: 3.6rem;
  margin-bottom: 0;
}
.description-desc {
  
  margin: 0 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-desc p {
  font-size: 1.6rem;
}
.appears-on {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appears-on ul {
  
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  
}
.appears-on p {
  font-size: 2rem;
}
